/* Shared styles */


.header-1, .header-2 {
	text-transform: uppercase;
}

.beginning-col-text, .col-1-paragraph, 
.paragraph-btn, .paragraph-content {
	font-size: 14px;
}

.header-1, .header-2, .header-3 {
	font-size: 28px;
}

.beginning-col-text, .col-1-paragraph, .paragraph-content {
	line-height: 20px;
}

.header-1, .header-2, .header-3, .header-4, 
.beginning-col-text, .col-1-text, .paragraph-btn, 
.percentage, .percentage-content, .paragraph-content {
	font-family: 'Roboto';
}      


/* ContentBeginning */


.navbar-background {
	background-color: #1676DD;
	height: 60px;
}

.slider-img {
	height: 509px;
}

.beginning-col-container {
	margin-top: 75px;
}

.beginning-col-content {
	padding: 20px;
}


/* ContentMiddle */


.main-header {
	margin: 100px 0 50px 0;
}

.header-1 {
	font-weight: bold;
	color: #F36819;
}

.header-2 {
	color: #283647;
}

.paragraph-btn {
	width: 214px;
	height: 40px;
	border-radius: 5px;
	letter-spacing: 2px;
	color: white;
	background-image: linear-gradient(to right, #F36819, #F7931D);
}

.percentage {
	font-weight: bold;
	font-size: 55px;
	letter-spacing: 2px;
}

.percentage-content {
	color: #F36819;
	padding: 0 75px 0 75px;
}

.middle-col-content {
	margin: 50px 0 50px 0;
}


/* ContentEnd */


.content-end-header {
	margin-bottom: 75px;
}

.header-3 {
	color: #F36819;
}

.header-4 {
	font-size: 20px;
	color: #F7931D;
}

.content-end-imgs {
	width: 705px;
	height: 350px;
}










